{% extends 'med_app/base.html'%}

{% block list %}
<ul class="reminder-list">
            {% for remainder in remainders %}
                <li class="reminder-item">
                    <h2>{{ remainder.med_name }}</h2>
                    <p><strong>Name:</strong> {{ remainder.name }}</p>
                    <p><strong>Medicine Description:</strong> {{ remainder.med_description }}</p>
                    <p><strong>Morning Reminder:</strong> {{ remainder.time_slot_morning }}</p>
                    <p><strong>Noon Reminder:</strong> {{ remainder.time_slot_noon }}</p>
                    <p><strong>Evening Reminder:</strong> {{ remainder.time_slot_evening }}</p>
                    <p><strong>Remind Up To:</strong> {{ remainder.remind_number_days }}</p>
                </li>
            {% endfor %}
        </ul>
{% endblock %}

{% block createbutton %}
        <div class="add-reminder-button-container">
            <a href="/remainderCreate" class="add-reminder-button">Add Reminder</a>
        </div>
        <hr>
{% endblock %}

{% block pagination %}
        {% if remainders.has_previous %}
            <a href="?page={{ remainders.previous_page_number }}">&laquo Previous</a>
        {% endif %}



        {% if remainders.has_next %}
            Page {{ remainders.number }} of {{ remainders.paginator.num_pages }}
            <a href="?page={{ remainders.next_page_number }}">Next &raquo</a>
        {% endif %}
{% endblock %}



